/* Genel Stiller */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

.navbar .logo {
    font-size: 1.5rem;
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    font-size: larger;
    transition: 0.3s;
}

/* Bölümler */
.section {
    padding: 2rem 0;
    text-align: center;
}

.bg-light {
    background: #f4f4f4;
}

h2 {
    margin-bottom: 1rem;
}

/* Proje Kartları */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* İletişim */

#contact {
    text-align: center;
}

div.socials ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

div.socials ul li a {
    color: #333;
    text-decoration: none;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
